body{
    background-image:url(./images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: ivory;
}
.resort{
    color:rgb(238, 227, 227);
    text-align: left;
    vertical-align: middle; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home a {
    color: lawngreen;
    display: inline-grid;
}
.resort p{
    width: 50%;
    background-color: purple;
    opacity: 60%;
    color:whitesmoke;
    font-size: large;

}
h4{
    justify-content:right;
    text-align: right;

}
#pro{
    text-align: center;
    flex-direction: row;
    
    opacity: 60%;
    width: 50%;
    justify-content: center;
    display: inline;
}
h5{
    text-align: center;
    color: yellowgreen;
    font-size: larger;
}
li{
    color: ivory;
    font-size: large;
}h3{
    color: violet;
    font-size: larger;

}
.cir{
    color: ivory;
    font-size: large;
}
.reso{
    height: 40%;
    width: 35%;
}