body{
    background-image:url(./images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: ivory;
}
.resort{
    color:rgb(238, 227, 227);
    text-align: left;
    vertical-align: middle; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home a {
    color: lawngreen;
    justify-content: center;
    text-align: center;
}